footer {
    background-color: pink;
    padding: 10px;
    text-align: center;
    color: white;
  }

    /* Style the header */
    header {
        background-color: pink;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: blue;
      }
      
      /* Create two columns/boxes that floats next to each other */
      nav {
        float: left;
        width: 20%;
        height: 20%
        background: rgb(50, 215, 226);
        padding: 20px;
      }

ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    background-color: yellow;
    width: 40%;
}

.trips {
    text-align: center;
    background-color: rgb(113, 183, 113);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {

    width: 15%;
    height: 18%;
}

#peter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    
